footer {
  background-color:#fff;
  padding:1.2rem 12rem;
  border-top:1px solid #eee;
}

footer p {
  margin:0;
  margin-top:.8rem;
  color:#666;
}

footer a:hover {
  text-decoration:underline;
}

.copyright {
  border-top:1px solid #eee;
  padding:1rem 0;
  margin-top:3.2rem;
}