@import "../../../assets/scss/_variables";

.details-image {
  width:100%;
  box-shadow:0 5px 25px rgba(143, 143, 143, 0.4);
  border-radius:5px;
}

.details-wrapper {
  width:100%;
  background-color:#fff;
  padding:1.8rem;
  border:1px solid #eee;
  border-radius:5px;
}

.details-desc button {
  color:#fff;
  background-color:#f39c12;
  border:0;
  font-size:1.6rem;
  padding:1.2rem 2.4rem;
  border:1px solid #f39c12;
  border-radius:3px;
  cursor:pointer;
  transition:all .3s;
}

.details-desc button:hover {
  background-color:$color-secondary-2;
  border:1px solid $color-secondary-2;
  color:#fff;
}

.quantity {
  margin-bottom:2.4rem;
}

.quantity button {
  background-color:#fff;
  color:$color-primary;
  border:1px solid $color-primary;
  border-radius:50%;
  font-size:1.8rem;
  padding:0 1rem;
  padding-top:.9rem;
  padding-bottom:.7rem;
}

.quantity button:hover {
  border:1px solid $color-primary;
  background-color:$color-primary;
  color:#fff;
}

.quantity input {
  font-size:1.8rem;
  width:48px;
  padding:1rem;
  text-align:center;
  border:0;
  border-bottom:1px solid #ddd;
}

.book-cover label {
  border:1px solid #ddd;
  margin-right:1rem;
  padding:1rem;
  cursor:pointer;
  display:inline-block;
}

.book-cover .active {
  border: 1px solid $color-primary;
  font-weight:bold;
}